@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

.galaxy-container {
  width: 100%;
  height: 100%;
  position: relative;
}

@keyframes floatY {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-floatY {
  animation: floatY 2s ease-in-out infinite;
}

@keyframes floatDownUp {
  0% {
    transform: translateY(20px);   /* start down */
  }
  50% {
    transform: translateY(0px);    /* go up */
  }
  100% {
    transform: translateY(20px);   /* back down */
  }
}

.animate-floatDownUp {
  animation: floatDownUp 2.5s ease-in-out infinite;
}


